body{
    font-family: 'Poppins', sans-serif;
    background: url(../Contacts/cont.jpg) center/cover;
    margin:0;
}
header{
    width:80%;
    height:95vh;
    margin:auto;

}
header .carta{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    display: block;
    background: #c4c4e1;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom:100px;  
    background: url(../Contacts/center.jpg) center/cover;
}
header .carta .carta_left{
    width: auto;
    height: 100%;
    background: #dadae8;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background: url(../Contacts/map.jpg) center/cover;
}
    header .carta .carta_left h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}
header .carta .carta_left p{
    text-align: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}
.map{
    position: relative;
    text-align: center;
}
.map iframe{
    width: 400px;
    height: 400px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.contact{
    position:fixed;
    margin: 0px;
    padding: 0;
    display: flex;
    bottom:0;
    background: #f0f0f3;
    width:80%;
    height: 15vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: space-around;
    box-shadow: 0px 10px 10px 10px rgb(205, 201, 201);
}
.contact .moe{
    width: 40%;
    height:100%;
    text-align: center;
}
.contact .moe h3{
    font-size: 1.17em;
    font-family: 'Poppins', sans-serif;
}
.contact .moe p{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .moe p a{
    text-decoration: none;
    color:#121213;
}
@media screen  and (max-width: 700px){
    header .carta .carta_left p {
        font-size: 20px;
    }
    header .carta .carta_left h1 {
        font-size: 30px;
    }
    .map iframe {
        width: 250px;
        height: 400px;
    }
    .contact .moe h3{
        font-size: 0.8em;
    }
    .contact .moe p{
        font-size: 12px;
    }
}